venv/
.git
.idea
.github
*.py[cod]
*$py.class
__pycache__/
web/.DS_Store
web/dist
web/*.local
web/.idea/
web/.env.development
web/node_modules
backend/logs
config/config.json
backend/logs/server.log
backend/__pycahe__
backend/netboost/conf.py
backend/netboost/__pycache__/
backend/apps/users/__pycache__/
backend/apps/system/__pycache__/
backend/apps/asset/__pycache__/
backend/apps/automation/__pycache__/
backend/apps/automation/tools/__pycache__/
backend/apps/config_center/__pycache__/
backend/apps/route_backend/__pycache__/
backend/__pycache__/
backend/media/automation
backend/media/device_config/current-configuration
backend/media/ip_address_recycle/
backend/media/upload/
backend/conf.py
backend/media/admin_ssh_records/
backend/apps/base_plateform/__pycache__/
backend/apps/int_utilization/__pycache__/
backend/plugins/extensibles/
backend/scripts
