venv/
.git
.idea
.github
*.py[cod]
*$py.class
__pycache__/
web/.DS_Store
web/dist
web/*.local
web/.idea/
web/.vscode/
web/node_modules
netaxe/logs
config/config.json
backend/logs/server.log
backend/netaxe/__pycahe__
backend/netaxe/netboost/conf.py
backend/netaxe/netboost/__pycache__/
backend/netaxe/apps/users/__pycache__/
backend/netaxe/apps/system/__pycache__/
backend/netaxe/apps/asset/__pycache__/
backend/netaxe/apps/automation/__pycache__/
backend/netaxe/apps/automation/tools/__pycache__/
backend/netaxe/apps/config_center/__pycache__/
backend/netaxe/apps/route_backend/__pycache__/
backend/netaxe/__pycache__/
backend/netaxe/media/automation
backend/netaxe/media/device_config/current-configuration
backend/netaxe/media/ip_address_recycle/
backend/netaxe/media/upload/
backend/netaxe/netaxe/conf.py
backend/netaxe/media/admin_ssh_records/
backend/netaxe/apps/base_plateform/__pycache__/
backend/netaxe/apps/int_utilization/__pycache__/
