
rule
action {{ action }}
{%- for _service in service.name %}
service {{ _service }}
{% endfor %}
src-zone {{ from_zone }}
dst-zone {{ to_zone }}
{%- for _from_addr in from_addr.iplist %}
src-ip {{ _from_addr }}
{% endfor %}
{%- for _to_addr in to_addr.iplist %}
dst-ip {{ _to_addr }}
{% endfor %}
name {{ name }}
exit