@font-face {
  font-family: "na-icon";
  src: url('na-icon.eot?t=1701153308212'); /* IE9*/
  src: url('na-icon.eot?t=1701153308212#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("na-icon.woff2?t=1701153308212") format("woff2"),
  url("na-icon.woff?t=1701153308212") format("woff"),
  url('na-icon.ttf?t=1701153308212') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('na-icon.svg?t=1701153308212#na-icon') format('svg'); /* iOS 4.1- */
}

[class^="na-icon-"], [class*=" na-icon-"] {
  font-family: 'na-icon' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.na-icon-add:before { content: "\ea01"; }
.na-icon-data-chart:before { content: "\ea02"; }
.na-icon-data-money:before { content: "\ea03"; }
.na-icon-data-order:before { content: "\ea04"; }
.na-icon-data-people:before { content: "\ea05"; }
.na-icon-delete:before { content: "\ea06"; }
.na-icon-edit:before { content: "\ea07"; }
.na-icon-expand:before { content: "\ea08"; }
.na-icon-github:before { content: "\ea09"; }
.na-icon-menu:before { content: "\ea0a"; }
.na-icon-server-host:before { content: "\ea0b"; }
.na-icon-tomcat:before { content: "\ea0c"; }

